# Telegram Bot Token (получить на @BotFather)
TELEGRAM_TOKEN=8154300397:AAFYWNwOCB3TzpxP1XvmRNKsQIKfPyfnmik

# ID канала для отправки заявок (получить с @userinfobot)
TARGET_CHAT_ID=-1002171291966

# Email адрес для отправки кодов подтверждения
FROM_EMAIL=rost3st@yandex.ru

# Пароль от email (или app password для Yandex)
EMAIL_PASSWORD=puhtzooetirgntaf

# Путь к файлу с сотрудниками (опционально, по умолчанию /data/phonebook.xlsx)
# EXCEL_PATH=/path/to/phonebook.xlsx
